@using WebCollection.Models
@using WebCollection.Models.ViewModels
@using Microsoft.AspNetCore.Identity
@model WebCollection.Models.ViewModels.ItemIndexViewModel
@inject UserManager<IdentityUser> UserManager

 <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Tag</th>

      @foreach(var name in Model.IItem.GetCollectionFields(@Model.Collection.Id)) {
                <th scope="col">@name.Name</th>
            }
        </tr>
  </thead>


  <tbody>
        @{ var item = Model.IItem.GetItem(@Model.ItemId);
            <tr>
                <td>@item.Name</td>
                <td>@item.Tag</td>
                @foreach(var collectionField in Model.IItem.GetCollectionFields(@Model.Collection.Id)) {
                    <td>
                   @{ string value = Model.IItem.GetValueField(collectionField.Id, item.Id);
                    switch(Model.IItem.GetType(collectionField.FieldTypeId)) {
                        case "Checkbox":
                            if (value == "true") {
                                <input type="checkbox" checked disabled>
                            }
                            else {
                                 <input type="checkbox" disabled>
                            }
                            break;
                            case "Text":
                            @Html.Raw(value)
                            break;
                            default:
                            <text>
                                @value
                            </text>
                            break;
                      
                    } }
                   </td>
                }
                 </tr>
        }
        
  </tbody>
</table>
@if (Model.Collection.UserId == UserManager.GetUserId(User)) {
      
    
 @Html.ActionLink(Localizer.GetString("Edit") , "Edit", "Item", new {id=@Model.Collection.Id, itemId=@Model.ItemId }, new { @class = "btn btn-success"})
 @Html.ActionLink(Localizer.GetString("Delete") , "Delete", "Item", new { itemId=@Model.ItemId, collectionId=@Model.Collection.Id }, new { @class = "btn btn-danger"})
}